* {
  margin: 0;
  padding: 0;
  font-family: 'Yoon 윤고딕';
}

ul,
li {
  list-style: none;
}

h3 {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.title_back {
  background-color: #f4f4f4;
}

.top {
  background-color: #f4f4f4;
}

.btn_insert {
  background-color: #ffe400;
  color: #000;
  text-decoration: none;

}

.btn_list {
  background-color: #ffe400;
  color: #000;
  text-decoration: none;

}

.btn_update {
  background-color: #ffe400;
  text-decoration: none;
  color: black;
}

#btn_delete {
  background-color: #ddd;
  color: #000;
  text-decoration: none;
  border: 1px solid #ddd;

}

.board_wrap {
  min-height: 755px;
  width: 1000px;
  margin: 100px auto;
}

.board_title {
  margin-bottom: 30px;
  text-align: center;
}

.board_title strong {
  font-size: 2rem;
}

.btn_wrap {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.btn_wrap_2 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.btn_wrap a {
  display: inline-block;
  min-width: 100px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ffe400;
  border-radius: 2px;
  font: 0.5rem;
}

.btn_wrap_2 a {
  display: inline-block;
  min-width: 100px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ffe400;
  border-radius: 2px;
  font: 0.5rem;
}


.btn_wrap a:first-child {
  margin-left: 0;
}

.board_list {
  width: 100%;
  border-top: 2px solid #ddd;
}

.board_list>div {
  border-bottom: 1px solid #ddd;
}

.board_list>div.top {
  border-bottom: 1px solid #ddd;
}

.board_list>div:last-child {
  border-bottom: 1px solid #ddd;
}

.board_list>div>div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.0rem;
}

.notice_read {
  text-align: center;
}

.board_list>div.top>div {
  font-weight: 600;
}

.board_list .num {
  width: 10%;
}


.board_list .title {
  width: 60%;
  text-align: center;
}

.board_list .top .title {
  text-align: center;
}


.board_list .writer {
  width: 10%;

}


.board_list .date {
  width: 10%;
}


.board_list .count {
  width: 10%;
}

.board_page {
  margin-top: 30px;
  text-align: center;

}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-left: 0;
  vertical-align: middle;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 7px;
  font-size: 1.0rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 1, 4rem;
}

.board_page a.num.on {
  border-color: #ffe400;
  background-color: #ffe400;
  color: #000;
}

.board_page a:first-child {
  border-left: 1px solid #ddd;
}

.bt {
  text-decoration: none;
  color: black;
}

.num {
  text-decoration: none;
  color: #000;
}

.content {
  text-decoration: none;
  color: #000;
}

.board_view {
  width: 100%;
  border-top: 2px solid #ddd;
  border-radius: 3px;
}

.board_view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 1.4rem;
}

.board_view .info {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.board_view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 0;
}

.board_view .info dl:first-child {
  padding-left: 0;
}

.board_view .info dl:first-child::before {
  display: none;
}

.board_view .info dl::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ddd;
}

.board_view .info dt {
  display: inline-block;
  font-size: 1.1rem;
}

.board_view .info dd {
  display: inline-block;
  margin-left: 10px;
  color: #777;
}

.board_view .cont {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 160%;
  font-size: 1.1rem;
}

.board_write {
  border-top: 2px solid #ddd;
}

.board_write .title {
  padding: 20px;
}

.board_write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  font-size: 0;
}

.board_write .title dl {
  font-size: 0;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.board_write .info dl {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.board_write .title dt {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  width: 100px;
}

.board_write .title dd {
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.0rem;
  width: calc(100%-100px);
}

.board_write .info dt {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  width: 100px;
}

.board_write .info dd {
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.0rem;

}

.board_write .cont {
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.board_write .cont textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
  margin-top: 3px;
  margin-right: -25px;
  font-size: 20px;
}

.title #write_input {
  width: 300px;
}

#write_input {
  width: 100px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  cursor: auto;
  outline: 0;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#check_box {
  position: relative;
  right: 5px;
}

.img_search {
  display: block;
  overflow: hidden;
  background: url("../../images/searchlogo.png") no-repeat;
  text-indent: -9999px;
  width: 22px;
  height: 20px;
  margin: 0 auto;
  background-position: -110px -60px;
}

.search_btn {

  top: 250px;
  left: 770px;
  width: 48px;
  height: 60px;
  position: absolute;
  top: -0.24rem;
  left: -3rem;
}

.search_form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  display: block;
}

.notice_search {

  margin-top: 50px;
}

.form-control {
  height: 55px;
}

.CommentBox {
  margin-top: 100px;
}

.comment_option {
  position: relative;
  padding-top: 16px;
  margin-bottom: 11px;
}

.comment_title {
  float: left;
  margin-top: 3px;
  margin-right: -25px;
  font-size: 20px;
  font-weight: bold;
}

.comment_tab {
  display: block;
}

.CommentBox .comment_option .comment_tab .comment_tab_list {
  display: inline-block;
  margin-top: 4px;
  font-size: 13px;
  vertical-align: top;
}

.CommentBox .comment_option .comment_tab .comment_tab_item:first-child {
  margin-left: 0;
}


.CommentBox .comment_option .comment_tab .comment_tab_item .comment_tab_button[aria-selected=true] {
  color: var(--skinTextColor);
}

.CommentBox .comment_option .comment_tab .comment_tab_item {
  float: left;
}

.comment_tab_item a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
}

.CommentBox .comment_list .CommentItem:first-child {
  border-top: 0;
}

.CommentBox .comment_list .CommentItem {
  position: relative;
  border-top: 1px solid #ddd;
}

.CommentBox .comment_list .comment_area {
  position: relative;
  padding: 12px 23px 10px 0;
}

.CommentBox .comment_list+.CommentWriter {
  margin-top: 10px;
}

.CommentWriter {
  margin: 12px 0 29px;
  padding: 16px 10px 10px 18px;
  border: 3px solid #b7b7b7;
  border-radius: 6px;
  box-sizing: border-box;
  background: #fff;
}

.CommentWriter .comment_inbox {
  position: relative;
  margin-bottom: 10px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.CommentWriter .comment_inbox_name {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
}

em {
  font-style: normal;
}

textarea.comment_inbox_text {
  max-height: 500px;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 17px;
}

.CommentWriter .comment_inbox_text {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  width: 100%;
  min-height: 50px;
  padding-right: 1px;
  border: 0;
  font-size: 13px;
  -webkit-appearance: none;
  resize: none;
  box-sizing: border-box;
  background: transparent;
  color: #000;
  outline: 0;
  font-weight: 500;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 777px;
  height: 17px;
}

.CommentWriter .comment_attach {
  position: relative;
  margin-bottom: 30px
}

.CommentWriter .attach_box {
  float: left;
  padding-top: 20px;
}

.CommentWriter .register_box {
  float: right;
}

.CommentWriter .register_box a {
  display: inline-block;
  min-width: 50px;
  height: 0;
  line-height: 0;
  font-size: 15px;
  color: #777;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}


.btn_register {
  display: inline-block;
  min-width: 50px;
  height: 0;
  line-height: 0;
  font-size: 15px;
  color: #777;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.comment_create {
  font-size: 13px;
  color: #979797;
}

.LayerMore {
  display: flex;
  justify-content: flex-end;
}

.layer_item {
  display: inline-block;
  font-size: 13px;
}

.layer_item a {
  text-decoration: none;
  color: #979797;
  margin-left: 7px;
}

.comment_inbox_reply {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  width: 100%;
  min-height: 50px;
  padding-right: 1px;
  border: 0;
  font-size: 13px;
  -webkit-appearance: none;
  resize: none;
  box-sizing: border-box;
  background: transparent;
  color: #000;
  outline: 0;
  font-weight: 500;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 777px;
  height: 17px;
}

.ReplyBox {

  border-top: 1px solid #ddd;

}

.like_article {
  margin-top: 20px;
}

.like {
  font-size: 13px;
  text-decoration: none;
  color: inherit;
}

.like:hover {
  color: inherit;
  text-decoration: none;
}

.like:active {
  position: relative;
  left: 2px;
  ;
}

.like_count {
  font-size: 15px;
  font-weight: bold;
}

.se-module:first-child {
  margin-top: 70px;
}

.se-module {
  position: relative;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  min-height: 60px;
  padding: 19px 70px 16px 55px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
  text-align: left;
  box-sizing: border-box;
  font-size: 5;
}

.se-file-icon {
  width: 21px;
  height: 17px;
  background-position: -67px -367px;
  position: absolute;
  top: 22px;
  left: 20px;
  background-image: url("../../images/se-sp-viewer.934b3798.png");
  background-size: 422px 405px;
}

.file-attachment {
  margin-top: 10px;
  display: inline-block;
}

.fileInputButton {
  display: inline-block;
  background-color: #ddd;
  color: #6c757d;
  padding: 8px 12px;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  transition: background-color 0.3s;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.fileInputButton:hover {
  background-color: #ced4da;
}